@font-face {
    font-family: 'Mikado Ultra';
    font-weight: bold;
    src: url("Mikado\ Ultra.otf") format("opentype");
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.options, .title{
    width: 40vw;
    margin: auto;    
    text-align: center;
    font-size: 1.5em;
}
.option, .categories{
    background-color: #FDFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #B6B7BA;
    border-bottom: 6px solid #B6B7BA;
    transition: all 0.1s;
}
.option:active{
    border-bottom: 2px solid #1cb0f6;
    margin-top: 14px;
}
.categories:active{
    border-bottom: 2px solid #1cb0f6;
}
.option:hover, .categories:hover{
    background-color: #ddf4ff;
    border-color: #1cb0f6;
}
.option.wrong{
    background-color: #F03E36;
    border-color: #BC2822;
    color: #fff;
}
.option.right{
    background-color: #74BE43;
    border-color: #64A038;
    color: #fff;
}
.scores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: auto;
    height: max-content;
}
.score{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    flex: 1;
    text-align: center;
    border: 2px solid #B6B7BA;
    border-bottom: 6px solid #B6B7BA;
}
.score.turn{
    border: 2px solid #1cb0f6;
    border-bottom: 6px solid #1cb0f6;
}


/*desgin for carrousel*/
.categories{
    width: 50vw;
    margin: auto;
    text-align: center;
    height: 3em;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #B6B7BA;
    border-bottom: 6px solid #B6B7BA;
    margin-bottom: 10px;
    /*align text vertically*/
}
.category{
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    /*align text vertically*/
    

}
.category.selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.results, .choose_category{
    /*popup centered infrom of screen*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    


}
.choose_title{
    display: block;
}
.button_group{
    display: flex;
    width: 50%;
}
button{
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #B6B7BA;
    border-bottom: 6px solid #B6B7BA;
}
button:active{
    border-bottom: 2px solid #1cb0f6;
    margin-top: 14px;
}
button:hover{
    background-color: #ddf4ff;
    border-color: #1cb0f6;
}

.result{
    color: #fff;
    font-family: 'Mikado Ultra';
    font-size: 5em;
    display: none;
}
.result#correct{
    color: #74BE43;
}
.result#incorrect{
    color: #F03E36;
}
.result#timeout{
    color: #f09f36;
}
.result#math{
    color: #1cb0f6;
}
.result#bio{
    color: #1cb0f6;
}
.result#phy{
    color: #1cb0f6;
}
.show{
    display: flex;
}
.time{
    width: 50vw;
    margin: auto;
}
#time-line{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #B6B7BA;
    border-bottom: 6px solid #B6B7BA;
    margin-bottom: 10px;
}

.title{
    /*trivia crack card*/
    width: 50vw;
    margin: auto;
    text-align: center;
    height: 3em;
    border-radius: 16px;
    border: 2px solid #B6B7BA;
    padding: 50px;
    /*vertical align text*/
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.crown{
    display :grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    width: 50vw;
    margin: auto;
}
.crown_sec{
    height: 1em;
    background-color: grey;
}
.crown_sec:nth-child(1){
    /*left border radios*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.crown_sec:last-child{
    /*left border radios*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.crown_sec.win{
    background-color: #1cb0f6;
}